<ion-header>
  <ion-navbar>
    <ion-title>
      Ahorcado
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="background">

  <div id="formJuego">
    <img class="imagen" src="{{imagen}}">



    <ion-list>
      <ion-grid>
        <ion-row class="mensaje">
          <ion-col col-2 *ngFor="let item of palabra">
            <ion-input class="mensaje" type="text" value="{{item}}">{{item}}</ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list>
      <ion-grid>
        <ion-row class="mensaje">
          <ion-col col-4>
            <ion-icon name="md-heart" color="vida"></ion-icon> Vidas: {{vidas}}</ion-col>
          <ion-col col-4>
            <ion-icon name="md-cog" color="nivel"></ion-icon>
            Nivel: {{nivel}}            
          </ion-col>
          <ion-col col-4>
            <ion-icon name="md-game-controller-b" color="puntos"></ion-icon>
            Puntos: {{puntos}}            
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list>
      <ion-grid>
        <ion-row class="mensaje">
          <ion-col col-12>{{mensaje}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <!-- En caso de no tener vidas, mostramos un botón para reiniciar el juego -->
    <button *ngIf="vidas==0 || ganador==1" ion-button block (click)="reiniciaJuego()">Jugar de nuevo</button>

    <ion-list>
      <div id="teclado" name="teclado">
        <ion-item>
          <ion-row col-12>
            <button ion-button col-1 value="Q" [disabled]="awaitingAjaxCall[0] ? true : null" (click)="getColor($event, 'q', 0)">Q</button>
            <button ion-button col-1 value="W" [disabled]="awaitingAjaxCall[1] ? true : null" (click)="getColor($event, 'w', 1)">W</button>
            <button ion-button col-1 value="e" [disabled]="awaitingAjaxCall[2] ? true : null" (click)="getColor($event, 'e', 2)">E</button>
            <button ion-button col-1 value="R" [disabled]="awaitingAjaxCall[3] ? true : null" (click)="getColor($event, 'r', 3)">R</button>
            <button ion-button col-1 value="T" [disabled]="awaitingAjaxCall[4] ? true : null" (click)="getColor($event, 't', 4)">T</button>
            <button ion-button col-1 value="Y" [disabled]="awaitingAjaxCall[5] ? true : null" (click)="getColor($event, 'y', 5)">Y</button>
            <button ion-button col-1 value="U" [disabled]="awaitingAjaxCall[6] ? true : null" (click)="getColor($event, 'u', 6)">U</button>
            <button ion-button col-1 value="I" [disabled]="awaitingAjaxCall[7] ? true : null" (click)="getColor($event, 'i', 7)">I</button>
            <button ion-button col-1 value="O" [disabled]="awaitingAjaxCall[8] ? true : null" (click)="getColor($event, 'o', 8)">O</button>
            <button ion-button col-1 value="P" [disabled]="awaitingAjaxCall[9] ? true : null" (click)="getColor($event, 'p', 9)">P</button>
          </ion-row>
        </ion-item>

        <ion-item>
          <ion-row col-12>
            <button ion-button col-1 value="A" [disabled]="awaitingAjaxCall[10] ? true : null" (click)="getColor($event, 'a', 10)">A</button>
            <button ion-button col-1 value="S" [disabled]="awaitingAjaxCall[11] ? true : null" (click)="getColor($event, 's', 11)">S</button>
            <button ion-button col-1 value="D" [disabled]="awaitingAjaxCall[12] ? true : null" (click)="getColor($event, 'd', 12)">D</button>
            <button ion-button col-1 value="F" [disabled]="awaitingAjaxCall[13] ? true : null" (click)="getColor($event, 'f', 13)">F</button>
            <button ion-button col-1 value="G" [disabled]="awaitingAjaxCall[14] ? true : null" (click)="getColor($event, 'g', 14)">G</button>
            <button ion-button col-1 value="H" [disabled]="awaitingAjaxCall[15] ? true : null" (click)="getColor($event, 'h', 15)">H</button>
            <button ion-button col-1 value="J" [disabled]="awaitingAjaxCall[16] ? true : null" (click)="getColor($event, 'j', 16)">J</button>
            <button ion-button col-1 value="K" [disabled]="awaitingAjaxCall[17] ? true : null" (click)="getColor($event, 'k', 17)">K</button>
            <button ion-button col-1 value="L" [disabled]="awaitingAjaxCall[18] ? true : null" (click)="getColor($event, 'l', 18)">L</button>
            <button ion-button col-1 value="Ñ" [disabled]="awaitingAjaxCall[19] ? true : null" (click)="getColor($event, 'ñ', 19)">Ñ</button>
          </ion-row>
        </ion-item>

        <ion-item>
          <ion-row col-12>
            <ion-col col-1></ion-col>
            <ion-col col-1></ion-col>
            <button ion-button col-1 value="Z" [disabled]="awaitingAjaxCall[20] ? true : null" (click)="getColor($event, 'z', 20)">Z</button>
            <button ion-button col-1 value="X" [disabled]="awaitingAjaxCall[21] ? true : null" (click)="getColor($event, 'x', 21)">X</button>
            <button ion-button col-1 value="C" [disabled]="awaitingAjaxCall[22] ? true : null" (click)="getColor($event, 'c', 22)">C</button>
            <button ion-button col-1 value="V" [disabled]="awaitingAjaxCall[23] ? true : null" (click)="getColor($event, 'v', 23)">V</button>
            <button ion-button col-1 value="B" [disabled]="awaitingAjaxCall[24] ? true : null" (click)="getColor($event, 'b', 24)">B</button>
            <button ion-button col-1 value="N" [disabled]="awaitingAjaxCall[25] ? true : null" (click)="getColor($event, 'n', 25)">N</button>
            <button ion-button col-1 value="M" [disabled]="awaitingAjaxCall[26] ? true : null" (click)="getColor($event, 'm', 26)">M</button>
          </ion-row>
        </ion-item>
      </div>
    </ion-list>

  </div>
</ion-content>