page-home {
 
.background{
     background-image: url('../assets/image/fondo.jpg');
  } 

  

  .scroll-content{
     align-content: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
  }

  .divimagen {
    height: 80px;
     background-size: 50% 50%;
  }
  .imagen {   
     //border-image-width: 50% 50%;
     height: 180px;
//     width: 200px;
  }

  .mensaje{
      color: #fff!important;
      font-size: 15px;
  }

   a, p,
  ion-card-header.card-header{
      color: #fff;
  }

  .item{
      margin-bottom: 10px;
      background: rgba(255, 255, 255, 0.5);
      border: medium none;

      .text-input,{
          color: #fff;
      }

      *:-moz-placeholder {
          color: #fff!important;          
      }

      *:-ms-input-placeholder{
          color: #fff!important;
      }

      *::-webkit-input-placeholder{
          color: #fff!important;
      }

      input::-moz-placeholder{
          color: #fff!important;
      }

      input:-moz-placeholder{
          color: #fff!important;
      }

  }

}
