<ion-header>

  <ion-navbar>
    <ion-title>Elegir Nivel</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="background">

  <img src="/assets/image/nivel.png" alt="">
  <ion-list>
    <ion-item>
      Selector que nos permitirá elegir el nivel del juego
      <ion-label class="label">Seleccione un nivel</ion-label>
      <ion-select [(ngModel)]="nivel" class="option">
        <ion-option value="Facil">Facil</ion-option>
        <ion-option value="Medio">Medio</ion-option>
        <ion-option value="Dificil">Dificil</ion-option>        
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
      <ion-grid>
        <ion-row>
          <ion-col col-12>{{mensaje}}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>   

  <button ion-button block color="primary" (click)="ionEnviarNivel()">Seleccionar</button>

</ion-content>