<ion-content class="background">
  <ion-card>
    <ion-card-header>
      Login Usuario
    </ion-card-header>
    <ion-card-content>
      <ion-list no-line>
        <ion-item>
          <ion-input type="text" placeholder="Usuario"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="password"></ion-input>
        </ion-item>
        <a> ¿Olvidó su información de acceso? <b> Obtener ayuda para iniciar sesión </b> </a>
        <button ion-button block outline color="light">log in</button>        
        <button ion-button full icon-left color="primary" (click)="ionIrNivel()">
          <ion-icon name="logo-facebook" ></ion-icon>
          login facebook
        </button>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <button ion-button clear full color="light">esta no es su cuenta? ingrese aqui</button>
</ion-content>
